<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sumon.mygrocerystore">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/grocery_store"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/grocery_store"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyGroceryStore">
        <activity android:name=".activities.PlacedOrderActivity"
            android:theme="@style/Theme.MyGroceryStore.NoActionBar">

        </activity>
        <activity android:name=".activities.NavCategoryDetailsActivity"
            android:theme="@style/Theme.MyGroceryStore.NoActionBar"/>
        <activity
            android:name=".activities.DetailsActivity"
            android:theme="@style/Theme.MyGroceryStore.NoActionBar" />
        <activity
            android:name=".activities.ViewAllActivity"
            android:theme="@style/Theme.MyGroceryStore.NoActionBar" />
        <activity
            android:name=".activities.HomeActivity"
            android:theme="@style/Theme.MyGroceryStore.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.RegistrationActivity"
            android:theme="@style/Theme.MyGroceryStore.NoActionBar" />
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/Theme.MyGroceryStore.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyGroceryStore.NoActionBar" />
    </application>

</manifest>